@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000000;
    font-family: 'Inter', sans-serif;
}

body {
    background: #F0F5F5;
}

.game, .main-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.title-logo img{
    position: relative;
    width: 10em;
}

.title{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
}

.play{
    padding: 0.8rem;
    margin: 1rem;
    width: 100px;
    border-radius: 10px;
    background: lightblue;
    outline: none;
    border: none;
    cursor: pointer;
}

.options{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.rock, .paper, .scissor{
    padding: 0.8rem;
    margin: 0.8rem;
    width: 100px;
    border-radius: 10px;
    background: lightblue;
    border-color:#000000;
    border-width: 1px;
    cursor: pointer;
}

#logo-1, #logo-2{
    display: flex;
    justify-content: center;
    height: 100px;
    margin: 0.8rem;
}

#logo-1 img, #logo-2 img{
    max-width: 100%;
    max-height: 100%;
}

.back{
    display: flex;
    justify-content: center;
    cursor:pointer;
    width: 30px;
    margin-top: 30px;
}

.back img{
    max-width: 100%;
    max-height: 100%;
}

.back:hover{
    opacity: 50%;
}

.play:hover, .rock:hover, .paper:hover, .scissor:hover{
    background-color: rgb(98, 175, 203);
}

.result{
    margin: 20px;
    font-size: 1.2rem;
}

/* Responsive Design */
@media screen and (max-width: 612px)
{ 
    .title{
        text-align: center;
    }
    .score{
        position: absolute;
        top: 200px;
        width: 100vw;
    }
    .options{
        width: 100vw;
    }
}